.App {
  font-family: "Source Sans Pro", sans-serif;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}
.weather-app {
  padding: 30px;
  border: 1px solid #222831;
  border-radius: 5px;
}
.github-url {
  text-decoration: none;
  color: #30475e;
  margin: 0 0 0 250px;
}