h1 {
    font-size: 60px;
    font-weight: bold;
    color: #222831;
    padding-top: 20px;
  }
  h2 {
    color: #db6400;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  ul {
    padding: 0 32px;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .units {
    text-align: center;
    font-size: 30px;
    color: #222831;
  }
  .specifications {
    text-align: right;
    color: #222831;
    line-height: 40px;
  }
  #description {
    color: #222831;
    text-align: center;
    padding-right: 40px;
    text-transform: capitalize;
  }
  #temperature {
    font-size: 70px;
    color: #222831;
    text-align: center;
    line-height: 150px;
  }
  
  #celcius,
  #fahrenheit {
    text-decoration: none;
    color: #222831;
  }
  